<!-- ////////////////////////////////////////////////////////////////////////////-->
<html  xmlns:th="https://www.thymeleaf.org/">
<body>
<div th:fragment="delivery">
<fieldset id="service_delivery" class="data-field-set">
    <div class="table-responsive">
        <table class="table entry-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>APR-JUN</th>
                <th>JUL-SEP</th>
                <th>OCT-DEC</th>
                <th>JAN-MAR</th>
                <th>Total</th>
                <th style="width:300px">Remarks</th >
                <th>Total SAR</th>
                <th>FY 1</th>
                <th>FY 2</th>
                <th>FY 3</th>
                <th>FY 4</th>
                <th>Cummulative 5-year period</th>
                <th style="width:200px">Remarks</th >
            </tr>
            </thead>
            <tbody>
            <tr>
                <td># of supported health facilities with established PC services </td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities', '', 'oct_dec',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities', '', 'jan_mar',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities', '', 'apr_jun',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities', '', 'jul_sept', 'none', true)}"></div ></td>
                <td><p id="elno_supported_facilities__none_total" class="totals"></p></td>

                <td><textarea  name="no_supported_facilities" id="no_supported_facilities" class="form-control mini-textarea"></textarea></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities_fy', '', 'total_sar', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities_fy', '', 'fy1', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities_fy', '', 'fy2',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities_fy', '', 'fy3', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_supported_facilities_fy', '', 'fy4',  'none', true)}"></div ></td>
                <td><p id="elno_supported_facilities_fy__none_total" class="totals"></p></td>
                <td><textarea  name="no_functional_research_pc_fy" id="no_supported_facilities_fy" class="form-control mini-textarea"></textarea></td>
            </tr>


            <tr>
                <td># of PC patients provided with/accessing  PC services</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided', '',  'oct_dec',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided', '', 'jan_mar', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided', '', 'apr_jun',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided',  '', 'jul_sept',  'none', true)}"></div ></td>

                <td><p id="elno_pc_patients_provided__none_total" class="totals"></p></td>
                <td><textarea  name="no_pc_patients_provided" id="no_pc_patients_provided" class="form-control mini-textarea"></textarea></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided_fy', '', 'total_sar',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided_fy', '', 'fy1', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided_fy', '', 'fy2', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided_fy', '', 'fy3', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_patients_provided_fy', '', 'fy4', 'none', true)}"></div ></td>
                 <td><p id="elno_pc_patients_provided_fy__none_total" class="totals"></p></td>
                <td><textarea  name="no_pc_patients_provided_fy" id="no_pc_patients_provided_fy" class="form-control mini-textarea"></textarea></td>
            </tr>

            <tr>
                <td># of PC referrals done</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done', '', 'oct_dec', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done', '', 'jan_mar', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done', '', 'apr_jun', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done', '', 'jul_sept', 'none', true)}"></div ></td>

                <td><p id="elno_pc_referrals_done__none_total" class="totals"></p></td>
                <td><textarea  name="no_pc_referrals_done" id="no_pc_referrals_done" class="form-control mini-textarea"></textarea></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done_fy', '', 'total_sar',  'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done_fy', '', 'fy1', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done_fy', '', 'fy2', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done_fy', '', 'fy3', 'none',  true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_pc_referrals_done_fy', '', 'fy4', 'none', true)}"></div ></td>
                 <td><p id="elno_pc_referrals_done_fy__none_total" class="totals"></p></td>
                <td><textarea  name="no_pc_referrals_done_fy" id="no_pc_referrals_done_fy" class="form-control mini-textarea"></textarea></td>
            </tr>


            </tbody>
        </table>
    </div>
</fieldset>
</div >


</body>
</html>