<!-- ////////////////////////////////////////////////////////////////////////////-->
<html  xmlns:th="https://www.thymeleaf.org/">
<body>
<div th:fragment="apca_management">
    <div class="table-responsive">
        <table class="table entry-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>APR-JUN</th>
                <th>JUL-SEP</th>
                <th>OCT-DEC</th>
                <th>JAN-MAR</th>
                <th>Total</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Governance strategy developed</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_governance_strategy', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_governance_strategy', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_governance_strategy', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_governance_strategy', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td># of new policies/policy amendments approved/ratified by BOD during this period</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_approved_ratified', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_approved_ratified', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_approved_ratified', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_approved_ratified', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of BOD meetings held</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_BOD_meetings_held', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_BOD_meetings_held', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_BOD_meetings_held', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_BOD_meetings_held', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td ># of SMT meetings held</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_members_recruited', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_members_recruited', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_members_recruited', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_members_recruited', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td>Annual report produced and published</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_report_produced', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_report_produced', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_report_produced', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_report_produced', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td>Annual general meeting held</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_general_meeting', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_general_meeting', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_general_meeting', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_general_meeting', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td># of Annual BOD assessments done</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_BOD_assessments', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_BOD_assessments', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_BOD_assessments', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_BOD_assessments', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of personal development plans for BOD implemented</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of regional and international engagements</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_regional_international', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_regional_international', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_regional_international', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_regional_international', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>




            </tbody>
        </table>
    </div>
</div >


</body>
</html>