<!-- ////////////////////////////////////////////////////////////////////////////-->
<html  xmlns:th="https://www.thymeleaf.org/">
<body>
<div th:fragment="education">
    <div class="table-responsive">
        <table class="table entry-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>APR-JUN</th>
                <th>JUL-SEP</th>
                <th>OCT-DEC</th>
                <th>JAN-MAR</th>
                <th>Total</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="background-color:yellow;"> # of countries that developed specialist PC training programs during this period</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_countries_developed_specialist', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_countries_developed_specialist', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_countries_developed_specialist', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_countries_developed_specialist', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td style="background-color:yellow;"># of countries  that developed a national PC training package during this period</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_ountries_developed_national_PC', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_ountries_developed_national_PC', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_ountries_developed_national_PC', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_ountries_developed_national_PC', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td style="background-color:yellow;"># of institutions/organizations provided with PC training materials, resources and equipment</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_institutions_organizations', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_institutions_organizations', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_institutions_organizations', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_institutions_organizations', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td style="background-color:yellow;"># of care providers who received  pre-service PC training</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_received', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_received', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_received', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_received', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of care providers who successfully completed an in-service basic PC training programme</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_successfully', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_successfully', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_successfully', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_successfully', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td style="background-color:yellow;"># of care providers supported to have specialist PC skills</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_supported', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_supported', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_supported', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_supported', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td ># of care providers and educators supported to have PC training skills (ToT)</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_educators', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_educators', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_educators', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_care_providers_educators', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of community volunteers who successfully completed a PC training programme</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_community_volunteers', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_community_volunteers', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_community_volunteers', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_community_volunteers', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>




            </tbody>
        </table>
    </div>
</div >


</body>
</html>