<!-- ////////////////////////////////////////////////////////////////////////////-->
<html  xmlns:th="https://www.thymeleaf.org/">
<body>
<div th:fragment="humanresource">
    <div class="table-responsive">
        <table class="table entry-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>APR-JUN</th>
                <th>JUL-SEP</th>
                <th>OCT-DEC</th>
                <th>JAN-MAR</th>
                <th>Total</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td>Annual review and update of the organization structure done</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_organization_update', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_organization_update', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_organization_update', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_organization_update', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td># of staff appraisals conducted according to schedule during this period</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_appraisals_conducted', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_appraisals_conducted', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_appraisals_conducted', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_appraisals_conducted', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of staff who completed personal development trainings/workshops/activities</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_personal_development', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td>APCA staff  retention strategy developed</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_retention_strategy', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_retention_strategy', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_retention_strategy', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_retention_strategy', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of staff who have left APCA</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_staff_left_apca', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_staff_left_apca', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_staff_left_apca', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_staff_left_apca', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td>Annual staffing plan for APCA in place</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_staffing', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_staffing', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_staffing', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_annual_staffing', 'jul_sept', 'none', 'none', true)}"></div ></td>
                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td>A succession planning strategy for APCA in place</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_uccession_planning', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_uccession_planning', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_uccession_planning', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_uccession_planning', 'jul_sept', 'none', 'none', true)}"></div ></td>
                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td># of new staff recruited during this period</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_taff_recruited', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_taff_recruited', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_taff_recruited', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_taff_recruited', 'jul_sept', 'none', 'none', true)}"></div ></td>
                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td>Total number of staff at the end of the financial year</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_number_staff ', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_number_staff', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_number_staff', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_number_staff', 'jul_sept', 'none', 'none', true)}"></div ></td>
                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>




            </tbody>
        </table>
    </div>
</div >


</body>
</html>