<!-- ////////////////////////////////////////////////////////////////////////////-->
<html  xmlns:th="https://www.thymeleaf.org/">
<body>
<div th:fragment="web_base_pc">
    <div class="table-responsive">
        <table class="table entry-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>APR-JUN</th>
                <th>JUL-SEP</th>
                <th>OCT-DEC</th>
                <th>JAN-MAR</th>
                <th>Total</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td># of researchers/resource persons listed in database</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_researchers_resource', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_researchers_resource', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_researchers_resource', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_researchers_resource', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>


            <tr>
                <td># of palliative care research resources developed</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_developed', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_developed', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_developed', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_developed', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of palliative care research resources disseminated</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_disseminated', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_disseminated', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_disseminated', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_palliative_researchers_disseminated', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>

            <tr>
                <td># of modules developed under palliative care</td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_modules_developed', 'oct_dec', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_modules_developed', 'jan_mar', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_modules_developed', 'apr_jun', 'none', 'none', true)}"></div ></td>
                <td><div th:remove="tag" th:utext="${misc.createInput('no_modules_developed', 'jul_sept', 'none', 'none', true)}"></div ></td>

                <td><p id="el1__none_total" class="totals"></p></td>
            </tr>




            </tbody>
        </table>
    </div>
</div >


</body>
</html>